/*
    CSS GERAIS
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}
header {
    height: 100px;
    background-color: black;
    color: white;
}
.mainLoaded{
    display: none;
}
.mainLoading{
    display: none;
}
loader{
    background-color: black;
    width: 100vw;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.header {
    max-width: 1140px;
    height: 100px;
    margin:auto;
    display:flex;
    align-items: center;
}
.logo {
    width: 100px;
    
}
.logo img{
    width: 60px;
    height: 60px;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul,
.menu li {
    list-style: none;
}
.menu ul {
    display: flex;
}
.menu li a{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    height: 100px;
    border-bottom: 5px solid black;
    transition: 0.1s all linear;
}
.menu li a:hover,
.menu .active a{
    border-bottom: 5px solid #b28756;
    color: #ccc;
}
.button {
    display: inline-block;
    background-color: #B28756;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    padding:10px 20px;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 20px;
}
.button:hover{
    background-color: #000;
}
.banner{
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow-x: hidden;
}

.banner .sliders {
    width: 300vw;
    height: 100%;
    display: flex;
}
.banner .slide{
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
}
.banner .slideArea{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    color: white;
    justify-content: center;
    text-align: center;
}
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}
.banner h1 span{
    color: #B28756;
}
.banner h2{
    text-transform: uppercase;
    margin-top: 20px;
}

.banner .sliders-pointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .pointer.active{
    background-color: #b28756;
}
.default {
    padding: 50px 0px;
    border-bottom: 1px solid #eee;
}
.default.light{
    background-color: #f7f7f7;
}
.default.light.bgWhite{
    background-color: #FFF;
    
}
.default.dark{
    background-color: #000;
}
.default.light .sectionTitle,
.default.light .sectionBody
{
    color: black;
}
.default.dark .sectionTitle,
.default.dark .sectionBody
{
    color: white;
}
.default .sectionTitle,
.default .sectionDesc
{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .sectionTitle{
    font-size: 20px;
}
.default .sectionDesc{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.default.light .sectionDesc{
    color: #999;
}

.default.dark .sectionDesc{
    color: #ccc;
}
.default .sectionBody{
    max-width: 1140px;
    margin: auto;
}





/*
    CSS ESPECÃFICOS
*/
.section-sobrenos{
    display: flex;
    justify-content: space-between;
}
.section-sobrenos--left{
    flex: 1;
    margin-right: 20px;
}
.section-sobrenos--left p{
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
    text-indent: 30px;
}
.section-sobrenos--right{
    width: 470px;
    text-align: center;
    position: relative;
    background-color: rgba(0, 0, 0, 1);
}
.section-sobrenos--right .playvideo{
    position: absolute;
    color: white;
    font-size: 40px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    transition: 0.3s all linear;
}
.section-sobrenos--right img{
    width: 470px;
    box-shadow: 0px 5px 10px #333;
    opacity: 0.3;
    transition: all 0.3s linear;
    cursor: pointer;
}
.section-sobrenos--right img:hover{
    opacity: 0.1;
}
.section-sobrenos--right:hover > .playvideo{
    opacity: 1;
}
.sectionServices{
    display: flex;
    align-items: center;
}
.sectionService {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}
.sectionService:first-child {
    border-left: 1px solid #333;
}
.sectionService img{
    width: 58px;
    height: 58px;
}
.sectionService h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}
.sectionService p{
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}
.sectionProjects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionProjectsFilters{
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0 20px;
}
.sectionProjectsFilters ul,
.sectionProjectsFilters li{
    list-style: none;
}
.sectionProjectsFilters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color: #555;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}
.sectionProjectsFilters li:first-child{
    border: 0;
}
.sectionProjectsFilters li:hover,
.sectionProjectsFilters li.active{
    border-bottom: 3px solid #b28756;
}
.sectionProjectsPhotos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sectionProjectsPhoto{
    width: 280px;
}
.sectionProjectsPhotoItem{
    margin: 10px;
    width: 260px;
    height: 160px;
}
.sectionProjectsPhotoItem img{
    width: inherit;
    height: inherit;
}
.sectionPhotoInfo {
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    transition: all 0.5s linear;
}
.sectionPhotoInfo h5{
    font-size: 20px;
    font-weight: 600;
}
.sectionProjectsPhotoItem:hover .sectionPhotoInfo{
    display: flex;
}
.sectionProjectsPhotoItem:hover > .button{
    background-color: red !important;
}
.sectionTeamArea{
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}
.bgTeam {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 0;
}
.sectionTeam{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.sectionTeam .sliders {
    width: 1000vw;
    height: 100%;
}
.sectionTeam .slide{
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #FFF;
    margin-right: 20px;
}
.sectionTeam .slideArea{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    color: black;
    justify-content: center;
    text-align: center;
    padding:30px;
}
.sectionTeam .sliders-pointers{
    margin-top: 50px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionTeam .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.sectionTeam .pointer.active{
    background-color: #b28756;
}
.sectionTeamAvatar{
    width: 150px;
    height: auto;
}
.sectionTeamName{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    margin-top: 30px;
}
.sectionTeamRole{
    font-size: 14px;
    color: #222;
    margin-top: 10px;
}
.sectionTeamSocial{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.sectionTeamSocial a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border-radius: 13px;
    margin: 5px;
}
.sectionTeamSocial a:hover{
    background-color: #B28756;
}
.sectionClients{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}
.sectionClients .sliders {
    width: 1000vw;
    height: 100%;
}
.sectionClients .slide{
    width: 100%;
    max-width: 880px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    margin-right: 20px;
}
.sectionClients .slideArea{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    color: black;
    justify-content: center;
    text-align: center;
    padding:30px;
}
.sectionClients .sliders-pointers{
    margin-top: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionClients .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.sectionClients .pointer.active{
    background-color: #b28756;
}
.sectionClientsAvatar{
    width: 120px;
    margin-top: -20px;
}
.sectionClientsName{
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 20px;
    
}
.sectionClientsRole{
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
}
.sectionClientsQuote{
    width: 22px;
    margin: 10px 0;
}
.sectionClients p{
    text-align: center;
    color: #555;
}
.sectionClientsLogo{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    justify-content: center;
}
.sectionClientsLogo img{
    width: 80px;
    height: 45px;
    margin: 40px;
}
.sectionPrice{
    display: flex;
    flex-wrap: wrap;
}
.sectionPriceItem {
    background-color: #FFF;
    padding: 20px;
    width: 255px;
    margin: 0px 15px;
    display: flex;
    flex-direction: column;
}
.sectionPriceItem .priceTitle{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #888;
    text-align: center;
    margin-bottom: 10px;
}
.sectionPriceItem .priceValue{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
.sectionPriceItem .priceRoutine{
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    color: #888;
    font-weight: 600;
    margin-bottom: 10px;
}
.sectionPriceItem ul,
.sectionPriceItem li
{
    list-style: none;
}
.sectionPriceItem li{
    text-align: center;
    color: #888;
    font-weight: 600;
    padding: 5px;
    position: relative;
}
.sectionPriceItem li:not(:last-child)::after{
    content: "_";
    position: absolute;
    left: 105px;
    bottom: -4px;
}
.sectionPriceItem a{
    width: 100px;
    text-align: center;
    background-color: #444;
    margin: 20px auto;
    transition: 0.3s all;
}
.sectionPriceItem a:hover{
    background-color: #b28756;
    transform: scale(1.1);
}
.sectionPremium{
    overflow: hidden;
    max-width: 880px;
    margin: -20px auto;
}
.sectionPremium .sliders {
    width: 1000vw;
    height: 100%;
}
.sectionPremium .slide{
    width: 100%;
    max-width: 880px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    margin-right: 20px;
}
.sectionPremium .slideArea{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    color: black;
    justify-content: center;
    text-align: center;
    padding:30px;
}
.sectionPremium .sliders-pointers{
    margin-top: 60px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionPremium .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.sectionPremium .pointer.active{
    background-color: #b28756;
}

.sectionPremium .sectionPremiumLeft img{
    width: 320px;
    transition: all 0.5s;
}
.sectionPremium .sectionPremiumLeft img:hover{
    transform: scale(1.1);
}
.sectionPremium .sectionPremiumRight{
    flex: 1;
    text-align: left;
    margin-left: 80px;
}
.sectionPremium .sectionPremiumItem{
    display: flex;
}
.sectionPremium .sectionPremiumItem:not(:last-child){
    margin-bottom: 40px;
}
.sectionPremium .sectionPremiumItemLeft img{
    width: 30px;
}
.sectionPremium .sectionPremiumItemRight{
    margin-left: 20px;
}

.sectionPremium .sectionPremiumItemRight h4{
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}
.sectionPremium .sectionPremiumItemRight p{
    color: #555;
}
.sectionPremium .sectionPremiumItemRight p::before{
    content: "- ";
}
.sectionPremium .botaoAssinar{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.sectionPremium .botaoAssinar .button{
    transition: 0.5s all;
}
.sectionPremium .botaoAssinar .button:hover{
    transform: scale(1.1);
}
.sectionDatas{
    display: flex;
    flex-wrap: wrap;
}
.sectionDatas .sectionData{
    width: 200px;
    margin: 40px;
    text-align: center;
}
.sectionDatas .sectionData h1{
    color: #b28756;
    font-size: 50px;
    position: relative;
    margin-bottom: 15px;
}
.sectionDatas .sectionData h1::after{
    content: "_";
    color: #555;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sectionDatas .sectionData h2{
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 20px;
}
.sectionDatas .sectionData p{
    color: #ccc;
    font-size: 13px;
}
.sectionSocialContact{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    justify-content: center;
    padding: 20px;
}
.sectionSocialContact .legend{
    display: flex;
    align-items: center;
}
.sectionSocialContact .legend h3{
    color: #777;
    font-weight: 600;
    font-size: 15px;
    margin-left: 13px;
    text-transform: uppercase;
}
.sectionSocialContact .socialItems{
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}
.sectionSocialContact .socialItems .socialItem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.sectionSocialContact .socialItems .socialItem .socialItemLogo{
    width: 25px;
    height: 25px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
}
.socialItemLogo.facebook{
    background-color: #3b5998;
}
.socialItemLogo.twitter{
    background-color: #1da1f2;
}
.socialItemLogo.googleplus{
    background-color: #ea4335;
}
.socialItemLogo.linkedin{
    background-color: #0e76a8;
}
.socialItemLogo.pinterest{
    background-color: #903d3d;
}
.sectionSocialContact .socialItems .socialItem .socialItemLogo img{
}
.sectionSocialContact .socialItems .socialItem .socialItemNumber{
    font-size: 10px;
    color: #777;
    margin: 0 20px 0 10px;
    font-weight: 600;
}
.sectionContactForm{
    display: flex;
    width: 100%;
    max-width: 500px;
    flex-direction: column;
    margin: auto;
}
.sectionContactForm a{
    display: block;
}
.sectionContactForm .inputGroupLine{
    display: flex;
}
.sectionContactForm .inputGroupLine input{
    width: 100%;
    
}
.sectionContactForm .inputGroupLine input:last-child{
    margin-left: 20px;
}
.sectionContactForm .inputGroup input{
    width: 100%;
}
.sectionContactForm textarea,
.sectionContactForm input
{
    border: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    outline: 0;
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
    transition: 0.5s all;
}
.sectionContactForm textarea::placeholder,
.sectionContactForm input::placeholder{
    text-transform: uppercase;
    font-weight: 600;
    color: #ccc;
}
.sectionContactForm textarea:focus,
.sectionContactForm input:focus{
    border-bottom: 1px solid #b28756;
}
.sectionContactForm input{
    height: 30px;
}
.sectionContactForm textarea{
    resize: none;
    width: 100%;
    max-width: 500px;

}
.sectionContactForm .submit{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.sectionContactForm .submit button{
    width: 200px;
    text-align: center;
    border: 0;
    cursor: pointer;
}
.sectionMap{
    background-image: url("../images/mapa.png");
    background-size: cover;
    background-position: right;
    padding: 30px 0;
}
.sectionMapArea{
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}
.sectionMapAreaBody{
    background-color: #FFF;
    width: 400px;
    padding: 30px;
}
.sectionMapItem{
    display: flex;
    align-items: center;
    color: #888;
    margin-bottom: 15px;
}
.sectionMapItemIcon{
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #ccc;
    border-radius: 15px;
    margin-right: 15px;
}
.sectionMapItemIcon img{
    width: 15px;
}
.footerArea{
    background-color: black;
}
.footerBody{
    display: flex;
    width: 100%;
    max-width: 1140px;
    margin: auto;
    color: #999;
}
.footerSocial,
.footerAbout
{
    flex: 1;
    
}
.footerSocial{
    display: flex;
    padding-top: 40px;
}
.footerSocial a{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    
}
.footerSocial a:hover{
    background-color: #b28756;
}
.footerAbout{
    text-align: justify;
    padding-top: 40px;
}
.footerSubscribe{
    background-color: #333;
    border-radius: 3px;
    margin: 40px 0 40px 40px;
    padding: 20px;
    text-align: center;
}
.footerSubscribe input{ 
    width: 100%;
    height: 40px;
    background-color: transparent;
    outline: none;
    border: 0;
    border-bottom: 1px solid #888;
    color: #888;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}
.footerSubscribe input::placeholder{ 
    text-align: center;
}
.footerSubscribe button{ 
    border: 0;
    cursor: pointer;
}
.copyright{
    width: 100%;
    max-width: 1140px;
    margin: auto;
    padding-bottom: 20px;
    color: #999;
}